<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alias20.coolcc</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SELECT ITEMS TO USE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>Respring-Toggle</string>
			<key>label</key>
			<string>Respring</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>Reboot-Toggle</string>
			<key>label</key>
			<string>Reboot</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>SafeMode-Toggle</string>
			<key>label</key>
			<string>SafeMode</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>LDRestart-Toggle</string>
			<key>label</key>
			<string>LDRestart</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>UICache-Toggle</string>
			<key>label</key>
			<string>UICache</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>UserSpaceReboot-Toggle</string>
			<key>label</key>
			<string>UserSpace Reboot</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>footerText</key>
			<string>If sbreload works, it takes precedence.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>key</key>
			<string>useSbreload</string>
			<key>label</key>
			<string>Use sbreload</string>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Localization</string>
			<key>footerText</key>
			<string>It is displayed with the name you entered.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Power Down</string>
			<key>key</key>
			<string>PowerDown-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to power down</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>key</key>
			<string>Respring-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Reboot</string>
			<key>key</key>
			<string>Reboot-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to reboot</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Safe Mode</string>
			<key>key</key>
			<string>SafeMode-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to safe mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>LDRestart</string>
			<key>key</key>
			<string>LDRestart-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to ldrestart</string>
		</dict>
				<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>UICache</string>
			<key>key</key>
			<string>UICache-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>slide to uicache</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>UserSpace Reboot</string>
			<key>key</key>
			<string>UserSpaceReboot-String</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.power4options</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>alias20.power4options.prefschanged</string>
			<key>placeholder</key>
			<string>userspace reboot</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset settings</string>
			<key>action</key>
			<string>resetSettings</string>
		</dict>
	</array>
	<key>title</key>
	<string>Power4Options</string>
</dict>
</plist>
